See ReadMe for a variable description, and the [paper](http://google.com) for the detailed data acquisition protocol.

In [4]:
import numpy as np
import pandas as pd

In [5]:
rl = pd.read_csv('risk_from_experience_reinforcement_learning.csv', index_col = False)
hl = pd.read_csv('risk_from_description_holt_laury.csv', index_col = False)
dospert = pd.read_csv('risk_from_self_report_dospert.csv', index_col = False)
bis_bas = pd.read_csv('risk_bis_bas.csv', index_col = False)

print('Risk from experience RL task was completed by ' + str(np.unique(rl['subj'].values).shape[0]) + ' participants. \n')
print('Risk from description Holt & Laury task was completed by ' + str(np.unique(hl['subj'].values).shape[0]) + ' participants. \n')
print('Risk from self-report DOSPERT questionnaire was completed by ' + str(np.unique(dospert['subj'].values).shape[0]) + ' participants. \n')
print('BIS-BAS questionnaire was completed by ' + str(np.unique(bis_bas['subj'].values).shape[0]) + ' participants.')

Risk from experience RL task was completed by 563 participants.

Risk from description Holt & Laury task was completed by 563 participants.

Risk from self-report DOSPERT questionnaire was completed by 563 participants.

BIS-BAS questionnaire was completed by 563 participants.

In [6]:
print('Variables in risk-rl dataset: \n')
[print(v) for v in rl.columns];
print('\n')
print('Variables in risk-holt-laury dataset: \n')
[print(v) for v in hl.columns];
print('\n')
print('Variables in risk-dospert dataset: \n')
[print(v) for v in dospert.columns];
print('\n')
print('Variables in bis-bas dataset: \n')
[print(v) for v in bis_bas.columns];

Variables in risk-rl dataset:

subj
trial
trialtype
side
response
outcome
rt
version


Variables in risk-holt-laury dataset:

subj
response
rt
version


Variables in risk-dospert dataset:

subj
response
rt
version


Variables in bis-bas dataset:

subj
response
rt

In [16]:
dospert[dospert['subj'] == 1]

    subj  response    rt  version
0      1         4  6141        4
1      1         7  2256        4
2      1         1  2046        4
3      1         6  2250        4
4      1         2  2803        4
..   ...       ...   ...      ...
87     1         3  2091        4
88     1         2  1618        4
89     1         6  2440        4
90     1         1  1892        4
91     1         1  2491        4

[92 rows x 4 columns]